.navb{
    display: flex;
    justify-content: space-between;
    width: 80%;
    top: 40px;
    left: 10%;
    position: absolute;
}
.navlist{
    display: flex;
    width: 100%;
    list-style-type: none;
    font-size: 0.9rem;
    line-height: 30px;
    color: #fff;
}
.navitem{
    padding: 0 20px;
}

.btn-gen{
    background-color: transparent;
    border: 1px solid #F1CB84;
    color: #F1CB84;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    height: 28px;
    width: 80px;
    cursor: pointer;
}

.btn-gen:hover {
    transition: 1s;
        left: 0;
}
