.navb{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.navlist{
    display: flex;
    width: 100%;
    list-style-type: none;
    font-size: 0.75rem;
    line-height: 30px;
}
.navitem{
    padding: 0 10px;
}

.btn-gen{
    background-color: transparent;
    border: 1px solid #F1CB84;
    color: #F1CB84;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    height: 28px;
    width: 80px;
}