.navb{
    display: flex;
    justify-content: space-between;
    width: 80%;
    top: 40px;
    left: 10%;
    position: absolute;
}
.navlist{
    display: flex;
    width: 100%;
    list-style-type: none;
    font-size: 0.9rem;
    line-height: 30px;
    color: #fff;
}
.navitem{
    padding: 0 20px;
}

.btn-gen{
    background-color: transparent;
    border: 1px solid #F1CB84;
    color: #F1CB84;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    height: 28px;
    width: 80px;
    cursor: pointer;
}

.btn-gen:hover {
    transition: 1s;
        left: 0;
}

.menuicon{
    color: #fff;
    background-color: #F1CB84;
    width: 40px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
}
.headernav{
    display: flex;
}
.show{
    display: block;
}
.navsettings{
    color: #fff;
    padding: 0 20px;

}

@media screen and (min-width: 768px) {
    .menuicon {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #navl {
        display: none;
    }
    .navitem{
        padding: 10px 0;
    }

    .navlist{
        margin-top: 30px;
        background: #F1CB84;
        padding: 30px;
        border-radius: 6px;
        z-index: 1;
    }
    .justnav{
        display: flex;
        flex-direction: column;
    }

  

    .btn-gen{
        border: 1px solid #Fff;
        color: #fff;
    }
}

