.footerdiv{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.textwhite{
    color: #fff;
}

.iconmiddle{
    vertical-align: middle;
    
}

@media only screen and (max-width: 500px) {
.footerdiv {
        flex-direction: column;
    }
}